.App {
  font-family: "Poppins", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.App .title {
  font-size: 40px;
  background: -webkit-linear-gradient(60deg, #66e0b8 0%, #fbed96 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 3px;
}

.App footer {
  color: whitesmoke;
  font-size: 14px;
}

@media (max-width: 970px) {
  .App {
    padding: 5px;
    padding-top: 30px;
  }

  .App .title {
    font-size: 28px;
  }

  .App footer {
    font-size: 7px;
  }
}
