.Index {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/807/original/pexels-benjamin-suter-3617500.jpg?1709001732");
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}
