.Weather {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  padding-bottom: 10px;
  background: rgb(11, 32, 11);
  border-radius: 20px;
}

form {
  display: block;
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );
  padding: 20px;
  border-radius: 20px;
  padding-right: 40px;
}

.Weather .form-control {
  border-radius: 6px;
  margin-left: 15px;
  font-size: 12px;
  padding: 8px;
  color: #03571e;
}

.Weather .button-search {
  padding: 7px 20px;
  margin-right: 25px;
  border-radius: 8px;
  border: 0;
  line-height: 1.5;
  font-size: 14px;
  transition: all 150ms ease-in-out;
  color: whitesmoke;
  background: #001607;
}

.Weather .day-forecast {
  display: block;
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );
  padding: 20px;
  border-radius: 20px;
  padding-right: 40px;
  margin-top: 30px;
}

.Weather .searched-city {
  color: whitesmoke;
  padding: 10px;
  margin: 0 80px;
  background: #001607;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  display: block;
}

.Weather .icon-location {
  margin-right: 3px;
  color: whitesmoke;
}

.Weather .unit {
  color: white;
  padding: 10px;
  text-align: center;
  margin-left: 30px;
  font-size: 20px;
}

.Weather .section-1 {
  color: whitesmoke;
}

.Weather .date-today {
  margin: 10px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
  color: whitesmoke;
}

.Weather .weather-temperature {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Weather .temperature {
  font-size: 80px;
  font-weight: bold;
  padding: 0;
}

.Weather .degree {
  font-size: 20px;
  position: relative;
  top: -45px;
}

.Weather .description {
  margin: 0;
  padding: 0;
}

.Weather .weather-today {
  color: whitesmoke;
  font-size: 14px;
}

.loading {
  color: white;
}
