.WeatherForecast {
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );

  margin: 10px 0;
  border-radius: 20px;
  color: whitesmoke;
  padding: 10px;
  font-size: 12px;
}

.WeatherForecast .forecast-title {
  text-align: left;
  margin: 10px;
  font-size: 14px;
}

.WeatherForecast .weatherforecast-daily {
  margin-left: 10px;
}

.WeatherForecast .weatherforecast-max {
  font-weight: 500;
  color: #76e9fd;
  margin-left: 12px;
}
.WeatherForecast .weatherforecast-min {
  margin-left: 10px;
}

@media (max-width: 970px) {
  .WeatherForecast {
    background: linear-gradient(
      114.3deg,
      rgb(19, 126, 57) 0.2%,
      rgb(8, 65, 91) 68.5%
    );

    margin: 10px 0;
    border-radius: 20px;
    color: whitesmoke;
    padding: 10px;
    font-size: 12px;
  }

  .WeatherForecast .forecast-title {
    text-align: left;
    margin: 10px;
    font-size: 14px;
  }

  .WeatherForecast .weatherforecast-daily {
    margin-left: 10px;
  }

  .WeatherForecast .weatherforecast-max {
    font-weight: 400;
    color: #76e9fd;
    margin-left: 10px;
  }
  .WeatherForecast .weatherforecast-min {
    margin-left: 10px;
  }
}
