.Weather {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  border-radius: 20px;
}

form {
  display: block;
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );
  padding: 20px;
  border-radius: 20px;
  padding-right: 60px;
  padding-left: 30px;
}

.Weather .form-control {
  border-radius: 6px;
  margin-left: 15px;
  font-size: 12px;
  padding: 8px;
  color: #03571e;
  font-family: "Courier New", Courier, monospace;
}

.Weather .button-search {
  padding: 7px 20px;
  margin-right: 25px;
  border-radius: 8px;
  border: 0;
  line-height: 1.5;
  font-size: 14px;
  transition: all 150ms ease-in-out;
  color: #03571e;
  background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.Weather .day-forecast {
  display: block;
  background: linear-gradient(
    114.3deg,
    rgb(19, 126, 57) 0.2%,
    rgb(8, 65, 91) 68.5%
  );
  padding: 20px;
  border-radius: 20px;
  padding-right: 40px;
  margin-top: 20px;
}

.Weather .searched-city {
  color: #03571e;
  padding: 10px;
  margin: 20px 80px;
  background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  display: block;
  font-weight: 700;
  margin-left: 100px;
}

.Weather .icon-location {
  margin-right: 3px;
}

.Weather .unit {
  color: white;
  padding: 10px;
  text-align: center;
  margin-left: 30px;
  font-size: 20px;
}

.Weather .section-1 {
  color: whitesmoke;
}

.Weather .date-today {
  font-size: 14px;
  text-align: center;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.Weather .temperature {
  font-size: 75px;
  font-weight: bold;
  padding: 0;
  color: #e2f694;
}

.Weather .degree {
  font-size: 18px;
  position: relative;
  top: -45px;
  color: #e2f694;
}

.Weather canvas {
  margin-top: 10px;
  margin-left: 10px;
}

.Weather .description {
  margin: 0;
  padding: 0;
}

.Weather strong {
  color: #76e9fd;
  font-weight: 600;
}

.Weather .weather-today {
  color: whitesmoke;
  font-size: 14px;
}

.Weather .feels-like {
  font-size: 12px;
}

.Weather .high-low-temp {
  font-size: 12px;
}
.loading {
  color: white;
}

a {
  color: aquamarine;
}

a:hover {
  font-style: italic;
  color: #e2f694;
}

@media (max-width: 970px) {
  form {
    padding: 10px;
    padding-right: 30px;
  }
  .Weather .form-control {
    margin: 0;
  }
  .Weather .button-search {
    margin-left: 0;
    margin-right: 5px;
    padding: 7px 5px;
  }

  .Weather .day-forecast {
    padding: 10px;
  }

  .Weather .searched-city {
    margin: 10px;
  }

  .WeatherTemperature {
    padding-top: 15px;
  }
  .Weather .temperature {
    font-size: 62px;
    font-weight: 500;
  }

  .Weather .degree {
    font-size: 10px;
    position: relative;
    top: -45px;
    color: #e2f694;
  }
  .Weather strong {
    color: #76e9fd;
    font-weight: 500;
    font-size: 12px;
  }

  .Weather .weather-label {
    font-size: 10px;
  }
  .Weather .description {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  .Weather .date-today {
    margin: 0;
  }

  .Weather .high-low-temp {
    font-size: 10px;
  }
}
